{% extends 'base.html' %}
{% block title %}Seller - Home{% endblock title %}

{% block menu %}

    <a class="navbar-brand" href="{% url 'list' %}">Home</a>
    {% comment %} <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button> {% endcomment %}

    <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav me-auto mb-2 mb-md-0">

        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'create' %}">Novo</a>
        </li>

    </ul>
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    </div>

{% endblock menu %}

{% block content %}

    <h2 class="mt-4">Sellers</h2>
    
    {% if seller_list %}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Document</th>
                <th scope="col">Phone Number</th>
                <th scope="col">E-mail</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

            {% for seller in  seller_list%}

                <tr>
                    <td>{{ seller.name }}</td>
                    <td>{{ seller.document }}</td>
                    <td>{{ seller.phone_number }}</td>
                    <td>{{ seller.email }}</td>
                    <td><a type="button" class="btn btn-primary" href="{% url 'update' seller.id %}" onclick="return confirm('Are you sure you want to update this?')">Update</a></td>
                    <td><a type="button" class="btn btn-danger" href="{% url 'delete' seller.id %}" onclick="return confirm('Are you sure you want to delete this?')">Delete</a></td>
                </tr>

            {% endfor %}

        </tbody>
    </table>
    {% else %}
        <p>Não há seller cadastrados no bd.</p>
    {% endif %}


{% endblock content %}
