{% extends 'base.html' %}
{% block title %}Seller - Home{% endblock title %}

{% block menu %}

    <a class="navbar-brand" href="{% url 'base_home' %}">Home</a>

    <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav me-auto mb-2 mb-md-0">

        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'seller_create' %}">Novo</a>
        </li>

    </ul>
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    </div>

{% endblock menu %}

{% block content %}

    <h2 class="mt-4">Sellers</h2>
    
    {% if seller_list %}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Document</th>
                <th scope="col">Phone Number</th>
                <th scope="col">E-mail</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

            {% for seller in  seller_list%}

                <tr>
                    <td>{{ seller.name }}</td>
                    <td>{{ seller.document }}</td>
                    <td>{{ seller.phone_number }}</td>
                    <td>{{ seller.email }}</td>
                    <td><a type="button" class="btn btn-primary" href="{% url 'seller_update' seller.id %}" >Update</a></td>
                    <td><a type="button" class="btn btn-danger" href="{% url 'seller_delete' seller.id %}" >Delete</a></td>
                </tr>

            {% endfor %}

        </tbody>
    </table>
    {% else %}
        <p>There are no sellers registered on the bd.</p>
    {% endif %}


{% endblock content %}
